:root {
  --el-color-primary: #d20a10;
  --el-color-primary-rgb: 210, 10, 16;
  --el-color-primary-light-3: #df5559;
  --el-color-primary-light-5: #e98588;
  --el-color-primary-light-7: #f2b6b7;
  --el-color-primary-light-8: #f6ced0;
  --el-color-primary-light-9: #fbe7e7;
  --el-color-primary-dark-2: #a8080d;
}
